.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.accordionH4 {
  border-radius: 4px;
}

#advanced-cont {
  margin: 1% 5% 0% 5%;
  border-radius: 4px;
  border: 1px solid #ddd;
}

#accordion-cont {
  border-radius: 4px;
}

.accordionHeader {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.01071em;
  line-height: 1.5rem;

  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.divider-buffer {
  padding: 1% 5% 1% 0%;
}

#submitButton {
  width: 90%;
  margin: 1% 5% 2% 5%;
}

.cfTable {
  padding: 0% 5%;
  border-radius: 4px;
}

.returns_table {
  padding: 0% 5% 1% 5%;
}

#subtotal_row {
  border-top: 1px solid black;
}

.dataframe {
  width: 100%;
  overflow-x: scroll; 
}

#inputManager {
  display: block;
}

thead {
  background-color: #5A89BB;
}

#headerRow {
  background-color: #5A89BB;
  color: black;
  font-size: medium;
}

.row-total {
  border-top: 1.5px solid #dee2e7;
  border-bottom: 1.5px solid #dee2e7;
}

.emphasize-cell {
  font-weight: 600;
}

/*
th, td {
  border-bottom: 1px solid #ddd;
}
*/

.cfTable {
  padding-bottom: 1%;
}

#mcfTable {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  border-collapse: collapse;
  box-sizing: content-box;
  text-indent: 0%;
  border-spacing: 0px;
}

#acfTable {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  border-collapse: collapse;
  box-sizing: content-box;
  text-indent: 0%;
  border-spacing: 0px;
}

.tableRow:hover {
  background-color: #e0eaf3;
}
/*
.tableRow:nth-child(even) {
  background-color: #e0eaf3;
}
*/

.mainHeader {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: small;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 0px 5px;
  text-align: right;
  background-color: #e0eaf3;
}

.secondHeader {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: small;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-bottom: 0px;
  border-right: 0px;
  background-color: #e0eaf3;
}

.minorHeader {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: small;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-bottom: 0px;
  border-right: 1px solid #ddd;
  padding: 0px 5px;
  text-align: right;
}

.mainACFHeader {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: small;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 0px 5px;
  text-align: right;
  background-color: #e0eaf3;
}

.secondACFHeader {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: small;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-bottom: 0px;
  border-right: 0px;
  width: 15%;
  background-color: #e0eaf3;
}

.minorACFHeader {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: small;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-bottom: 0px;
  border-right: 1px solid #ddd;
  padding: 0px 5px;
  text-align: right;
}

th {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: small;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

td {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: small;
  font-weight: 350;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 0px 5px;
}

h4 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.01071em;
  line-height: 1.5rem;
  padding: 6px 16px;
  background-color: #5A89BB;
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  /*border-bottom: 1px solid rgba(224, 224, 224, 1);*/
  color: rgba(0, 0, 0, 0.87);
}

.inputHeader {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.01071em;
  line-height: 1.5rem;
  padding: 6px 16px;
  background-color: #e0eaf3;
  display: block;
  margin-block-start: 0px;
  margin-block-end: 8px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  /*border-bottom: 1px solid rgba(224, 224, 224, 1);*/
  color: rgba(0, 0, 0, 0.87);
  border-radius: 4px 4px 0px 0px;
}

.inputDiv {
  margin: 12px 12px 8px 12px;
}

.inputFields {
  margin: 1% 5% 0% 5%;;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.cf_title {
  color: #fff;
}

#navbarLogoCont {
  padding-left: 3%;
}
